/* body {
  margin: 0;
  font-family: "Nobile", sans-serif;
  line-height: 150%;
  font-size: 120%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --light-green-1: #E9EDC9; 
  --light-green-2: #CCD5AE; 
  --light-orange-1: #FAEDCD; 
  --light-orange-2: #D4A373; 
  --cream: #FEFAE0; 
  --dark-green-1: #606C38; 
  --dark-green-2: #283618; 
  --dark-orange-1: #DDA15E; 
  --dark-orange-2: rgb(188, 108, 37); 

  background: var(--dark-green-2);
  color: var(--cream)
} */

/*! Containers */

/* #flex {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1612485222394-376d81a3e829?q=80&w=2046&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-attachment: fixed;
}

#outlet {
  width: 100%;
  margin: 0;
  padding: 0;
  flex: 1 1 auto;
  overflow: auto;
  background-color: rgba(40, 54, 24, 0.9);
}

.container {
  width: 100%;
}

.dark-green-bg {
  background-color: var(--dark-green-2);
  margin: 3rem 0;
}

.two-thirds {
  width: 80%;
  margin: auto;
}

.padded {
  padding: 3rem 0;
} */

/*! Header/ Footer */

/* #header {
  background-color: var(--dark-green-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}

#header h3 {
  position: relative;
}

#header h3::after {
  content: "KT";
  color: var(--dark-green-2);
  top: 10%;
  left: 10%;
  bottom: 5%;
  position: absolute;
  z-index: -1;
}

#header ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#header li {
  padding: 0 1rem;
}

#footer {
  background-color: var(--dark-green-1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 3rem;
  font-size: 80%;
} */

/*! Main Section */

/* .box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: auto;
  justify-content: center;
  align-items: center;
} */

/* .box div {
  flex-grow: 1;
}

#main-img {
  width: 100%;
}

#main-img img {
  width: 100%;
  height: 100%;
  min-width: 300px;
  max-height: 600px;
  object-fit: cover;
} */

/* #tech-box {
  display: flex;
  justify-content: space-evenly;
  font-size: 200%;
  padding: 1rem 0;
}

#tech-box .tech {
  transition: 0.5s;
  position: relative;
  display: inline-block;
  z-index: 100;
}

#tech-box .tech:hover {
  color: var(--dark-green-1);
  transition: 0.5s;
}

#tech-box .tech::before {
  content: "";
  width: 120%;
  height: 90%;
  position: absolute;
  transition: 0.5s;
  top: 15%;
  bottom: -5%;
  left: 5%;
  transform: translateY(0px);
  z-index: -1;
  background: var(--dark-green-2);
}

#tech-box .tech:hover::before {
  background: var(--dark-orange-2);
  transform: translateY(3px);
} */

#tech-list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  /* grid-auto-columns: 1fr;
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) ); */
  padding: 0;
}

#tech-list li {
  padding: 0 0.5rem;
}

/*! Random Styles */

/* ::selection {
  background: var(--dark-orange-2);
} */

/* h1, h2, .orange-block {
  transition: 0.5s;
  position: relative;
  display: inline-block;
  z-index: 100;
} */

/* h1 {
  font-size: 2rem;
} */

/* h1::before, h2::before, .orange-block::before {
  content: "";
  width: 120%;
  position: absolute;
  transition: 0.5s;
  top: 30%;
  bottom: 5%;
  transform: translateX(5%);
  z-index: -1;
  background: var(--dark-orange-1);
}

h1:hover::before, h2:hover::before, .orange-block:hover::before {
  top: 20%;
  background: var(--dark-orange-2);
} */

.green-block {
  transition: 0.5s;
  position: relative;
  display: inline-block;
  z-index: 100;
}

.green-block::before {
  content: "";
  width: 120%;
  position: absolute;
  transition: 0.5s;
  top: 30%;
  bottom: 5%;
  transform: translateX(5%);
  z-index: -1;
  background: var(--dark-green-2);
}

.green-block:hover::before {
  top: 20%;
  background: var(--dark-green-1);
}

/* a {
  color: var(--cream);
  text-decoration: none;
  cursor: pointer;
}

.link-effect {
  color: var(--cream);
  position: relative;
  display: inline-block;
  z-index: 100;
}

.link-effect::before, .link-effect::after {
  content: "";
  width: 48%;
  position: absolute;
  transition: 0.5s;
  top: 5%;
  bottom: 5%;
  z-index: -1;
}

.link-effect::before {
  background: var(--dark-orange-1);
  left: 5%;
  transform: translateY(3px);
}

.link-effect::after {
  background: var(--dark-orange-2);
  left: 48%;
  transform: translateY(-3px);
}

.link-effect:hover::before, .link-effect:hover::after {
  background: var(--dark-orange-2);
  transition: 0.5s;
}

.link-effect:hover::before {
  background: var(--dark-orange-2);
  transform: translateY(0px);
}

.link-effect:hover::after {
  background: var(--dark-orange-2);
  transform: translateY(0px);
}

.orange-accent {
  color: var(--dark-orange-1)
} */

/*! Projects */

/* .card {
  height: 450px;
  min-width: 350px;
  background-color: var(--dark-green-2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.5s;
  margin-top: 3rem;
}

.card img, .card picture {
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* opacity: 0.7; *
}

.card-view img, .card picture {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.details {
  opacity: 0;
  background-color: rgba(188, 108, 37, 0.9);
  transition: 0.5s;
  position: absolute;
  z-index: 100;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
}

.card:hover .details {
  opacity: 100;
  transition: 0.5s;
}

.card:hover {
  transition: 0.5s;
  transform: scale(0.95, 0.95);
  box-shadow: 2px 2px 10px var(--dark-green-2);
} */

/*! Contact */

/* .rev-box {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.icon {
  font-size: 120%;
  margin: 0.5rem;
}

.contact-links {
  margin: 0;
  padding: 1rem 0;
  display: flex;
  align-items: center;
}

.contact-links:hover, .contact-links:hover a, p a {
  color: var(--dark-orange-1);
  cursor: pointer;
}

#form-container {
  width: 100%;
  max-width: 800px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#form-container label {
  font-size: 80%;
  display: block;
  color: var(--dark-orange-1);
}

#form-container label input, #form-container textarea {
  display: block;
  width: 90%;
  padding: 0.5rem;
}

textarea {
  resize: none;
  height: 100px;
}

input:focus, textarea:focus {
  outline: 1px solid var(--dark-orange-2);
  box-shadow: 4px 4px 0px var(--dark-orange-2);
  border: none;
}

button {
  border: none;
  font-size: 120%;
  background-color: rgba(0, 0, 0, 0);
  color: var(--cream);
  text-decoration: none;
  cursor: pointer;
  width: fit-content;
  margin: 1rem;
} */

/*! Media Queries */

@media (min-width: 50rem) {
  .box {
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    align-items: center;
  }

  #header li {
    padding: 0 2rem;
  }

  .details {
    padding: 0 6rem;
  }

  .rev-box {
    flex-direction: column;
    gap: 0;
  }

  #form-container {
    width: 66%;
  }
}

@media (min-width: 75rem) {
  .box {
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    align-items: center;
  }

  .two-thirds {
    width: 66%;
  }
}