body {
  margin: 0;
  font-family: "Nobile", sans-serif;
  line-height: 150%;
  font-size: 120%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --light-green-1: #E9EDC9; 
  --light-green-2: #CCD5AE; 
  --light-orange-1: #FAEDCD; 
  --light-orange-2: #D4A373; 
  --cream: #FEFAE0; 
  --dark-green-1: #606C38; 
  --dark-green-2: #283618; 
  --dark-orange-1: #DDA15E; 
  --dark-orange-2: #BC6C25; 

  background: var(--dark-green-2);
  color: var(--cream)
}

/*! Containers */

#flex {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1612485222394-376d81a3e829?q=80&w=2046&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-attachment: fixed;
}

#outlet {
  width: 100%;
  margin: 0;
  padding: 0;
  flex: 1 1 auto;
  overflow: auto;
  background-color: rgba(40, 54, 24, 0.9);
}

#container {
  width: 100%;
}

.dark-green-bg {
  background-color: var(--dark-green-2);
}

.two-thirds {
  width: 80%;
  margin: auto;
}

.padded {
  padding: 3rem 0;
}

/*! Header/ Footer */

#header {
  background-color: var(--dark-green-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}

#header h3 {
  font-weight: normal;
  background-color: var(--dark-orange-1);
  color: var(--dark-green-2);
  padding: 0.75rem;
  border-radius: 70px;
  transition: 0.5s;
  z-index: 100;
}

#header h3:hover {
  background-color: var(--dark-orange-2);
  color: var(--cream);
  transition: 0.5s;
}

#header ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#header li {
  padding: 0 1rem;
}

#footer {
  background-color: var(--dark-green-1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 3rem;
  font-size: 80%;
}

/*! Main Section */

#box {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: auto;
  padding: 3rem 0;
  justify-content: center;
  align-items: center;
}

#main-img {
  width: 100%;
}

#main-img img {
  width: 100%;
  height: 100%;
  min-width: 300px;
  max-height: 600px;
  object-fit: cover;
}

#blurb {
  width: 100%;
}

@media (min-width: 50rem) {
  #box {
    width: 80%;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    align-items: center;
  }

  #header li {
    padding: 0 2rem;
  }
}

@media (min-width: 75rem) {
  #box {
    width: 66%;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    align-items: center;
  }

  .two-thirds {
    width: 66%;
  }
}

/*! Random Styles */

::selection {
  background: var(--dark-orange-2);
}

a {
  color: var(--cream);
  text-decoration: none;
  position: relative;
  display: inline-block;
  z-index: 100;
}

a::before, a::after {
  content: "";
  width: 48%;
  position: absolute;
  transition: 0.5s;
  top: 5%;
  bottom: 5%;
  z-index: -1;
}

a::before {
  background: var(--dark-orange-1);
  left: 5%;
  transform: translateY(3px);
}

a::after {
  background: var(--dark-orange-2);
  left: 48%;
  transform: translateY(-3px);
}

a:hover::before, a:hover::after {
  background-color: var(--dark-orange-2);
  transition: 0.5s;
}

a:hover::before {
  background-color: var(--dark-orange-2);
  transform: translateY(0px);
}

a:hover::after {
  background-color: var(--dark-orange-2);
  transform: translateY(0px);
}

.orange-accent {
  color: var(--dark-orange-1)
}